.home-hero {
    padding: 144px 0 96px 0;
    background-color: #1D1D1D;
    background:url('/assets/images/bg-pattern.png') repeat top left;
    background-size: 38px 22px;
    p {
        font-size: 54px;
        font-weight: 300;
        color: black;
        line-height: 65px;
        margin-bottom: 40px;
        color: white;
        @include bp-max-width($medium) {
          font-size: 36px;
          line-height: 45px;
        }
    }
}

.home-projects {
    padding: 48px 0 48px 0;
    background-color: $color-gray-light;
    h3 {
      text-transform: uppercase;
      font-weight: 600;
      color: $color-gray-medium;
      letter-spacing: .65px;
      margin-bottom: 16px;
    }
    @include bp-max-width($medium) {
      padding: 24px 0 24px 0;
    }
}

.home-projects-list{
    @include bp-min-width($xsmall) {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -16px;
    }
}

.home-project {
    margin-bottom: 24px;
    a { text-decoration: none; }
    a:hover { text-decoration: none; }
    @include bp-min-width($xsmall) {
      width: 50%;
    }
    @include bp-min-width($medium) {
      width: 33.33%;
    }
    @include bp-min-width($xsmall) {
      padding-left: 16px;
      padding-right: 16px;
    }
}

.home-project-title {
    color: $color-gray-dark;
    font-weight: 600;
    font-size: 24px;
    padding: 0;
    margin:8px 0 0 0;
    line-height: 30px;
}

.home-project-description {
    color: $color-gray-medium;
    font-size: 16px;
    padding: 0;
    margin:0;
    line-height: 20px;
}
