/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

img + em {
  font-size: 14px;
  color: #6D7278;
  font-style: italic;
  line-height: 50%;
}

em {
  font-size: 14px;
  color: #6D7278;
  font-style: italic;
}

.page-content .img-large{
    width: 1136px;
    max-width: 1136px;
    margin-left: -192px;
    margin-right: -192px;
    @include bp-max-width(1184px){
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

}
