.site-header {
    height: 96px;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px 0 40px;
    a {
        text-decoration: none;
        font-weight: 700;
        font-size: 16px;
        line-height: 16px;
    }
    @include bp-max-width(1204px){
        padding: 0 24px 0 24px;
    }
    @include bp-max-width($medium){
        padding: 0 16px 0 16px;
    }

    .site-title {
        text-transform: uppercase;
        letter-spacing: .75px;
    }
}

.site-header-light {
    a {color: $color-white;}
    .menu-icon svg path {fill: $color-white}
    .site-nav label[for="nav-trigger"] div {background-color: white;}
}

.site-header-dark {
    a {color: $color-gray-dark;}
    .menu-icon svg path {fill: $color-gray-dark}
    .site-nav label[for="nav-trigger"] div {background-color: black;}
}

.site-nav {
    .site-nav-links {line-height: 16px;}
    .nav-trigger {display: none;}
    .menu-icon {display: none;}
    .page-link {
        line-height: 16px;
        &:not(:last-child) {
          margin-right: 24px;
        }
    }
    @include bp-max-width(650px) {
      label[for="nav-trigger"] {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        float: right;
        width: 24px;
        height: 24px;
        z-index: 3;
        cursor: pointer;
        div {
            height: 2px;
            background-color: #fff;
            transition: 0.5s;
            z-index: 999;
        }
      }
      input ~ .site-nav-links {
        clear: both;
        display: none;
      }

      input:checked ~ label[for="nav-trigger"] > div {
        background-color: white;
      }

      input:checked ~ label[for="nav-trigger"] > div:nth-child(1) {
          transform: translateY(11px) rotate(45deg);
      }
      input:checked ~ label[for="nav-trigger"] > div:nth-child(2) {
          opacity: 0;
      }
      input:checked ~ label[for="nav-trigger"] > div:nth-child(3) {
          transform: translateY(-11px) rotate(-45deg);
      }
      input:checked ~ .site-nav-links {
          display: flex;
          flex-direction: column;
          position: absolute;
          justify-content: space-around;
          align-items: center;
          left: 0;
          top: 0;
          background-color: $color-gray-dark;
          width: 100%;
          height: 100vh;
          z-index: 2;
          .site-nav-link-container {
            display: flex;
            flex-direction: column;
            align-items: center;
          }
          .page-link {
              margin: 0 0 24px 0;
              font-size: 36px;
              line-height: 36px;
              color: $color-green;
              font-weight: 400;
          }
      }
    }
}
